@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
body {
  background: rgb(19, 19, 19);
}
h1 {
  color: #fff;
}
.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
}
.card {
  font-size: 3rem;
  color: #fff;
  display: grid;
  place-items: center;
}

/* Medium Screens*/
@media screen and (min-width: 768px) {
  .card-tall {
    grid-row: span 2;
  }
  .card-wide {
    grid-column: span 2;
  }
}
